body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-image: url('250472.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    margin-top: 25px;
    list-style: none;
    float: right;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 2px solid;
}

ul li a:hover {
    background-color: #ffffff;
    color: yellowgreen;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text text-align: center;
}
.box h1{
 color: white;
 text-transform: uppercase;
 font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;


